---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow">

  <link rel="stylesheet" href="{{ './assets/style.css' | relative_url }}" />
  <title>Whitelabel Preview</title>
</head>

<body class="theme--sv grid-container">
  {% include header.html %}

  <main class="full">
    {% include hero.html %} {% include qqc.html %}
  </main>
  {% include footer.html %}
</body>

</html>