<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo logo">
      {% include sv.html %}
    </div>

    <p class="footer-copy">
      nib Travel Insurance Distribution Pty Limited, ABN 40 129 262 175, AR 336467 is an authorised representative of
      nib Travel Services (Australia) Pty Ltd, ABN 81 115 932 173, AFSL 308461. This is general advice and you should
      consider if this product suits your needs. Before you buy, please read the Product Disclosure Statement available
      from us. <br> This insurance is underwritten by XL Insurance Company SE, Australia branch (ABN 36 083 570 441).
      <br>
      *The discount applies to the nib travel insurance premium (including GST and stamp duty) for customers that
      currently hold a health insurance product, an Overseas Student Health Cover product or an Overseas Visitors Health
      Cover product with nib. The discount offer is correct at time of publication.


    </p>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a class="footer-nav-link" href="#">Privacy</a></li>
        <li class="footer-nav-link-break">|</li>
        <li><a class="footer-nav-link" href="#">Terms of use</a></li>
      </ul>
    </nav>
  </div>

</footer>