<fieldset class="checkbox-group">
    <legend class="legend-caption">Do you have private medical insurance?</legend>
    <div class="checkbox">
        <div class="checkbox-item">
            <input id="private-insurance" type="checkbox" class="checkbox-input" />

            <label for="private-insurance" class="checkbox-label">
                <span class="checkbox-button">
                    <svg viewBox="0 0 10 10" width="100%" focusable="false">
                        <path d="M2,4.5l2.1,2 4,-4" fill="none" stroke="currentColor" stroke-width="1"></path>
                    </svg>
                </span>
                Yes, I have private medical cover.
            </label>
        </div>
    </div>
</fieldset>