<fieldset class="radio-group">
    <legend class="legend-caption">How many people are traveling?</legend>
    <div class="radio-item">
        <input type="radio" id="one" value="1" class="radio-input" name="travelers" />
        <label for="one" class="radio-label">
            <span class="radio-button"></span>
            1
        </label>
    </div>

    <div class="radio-item">
        <input type="radio" id="twopeople" value="2" class="radio-input" name="travelers" />
        <label for="twopeople" class="radio-label">
            <span class="radio-button"></span>
            2
        </label>
    </div>

    <div class="radio-item">
        <input type="radio" id="family" value="family" class="radio-input" name="travelers" />
        <label for="family" class="radio-label">
            <span class="radio-button"></span>
            Family
        </label>
    </div>
</fieldset>