<fieldset>
    <legend class="legend-caption">When are you traveling?</legend>
    <div class="layout">
        <div class="layout-item">
            <div class="input input-field">
                <input class="input" id="return-date" type="date" value="" />
                <label for="return-date" class="input-label"></label>
            </div>
        </div>


        <div class="layout-item">
            <div class="input input-field">
                <input class="input" id="departure-date" type="date" value="" />
                <label for="departure-date" class="input-label">
                </label>
            </div>
        </div>
    </div>
</fieldset>