<fieldset class="radio-group">
    <div class="radio-item">
        <input type="radio" id="single" value="single trip" class="radio-input" name="trip" />
        <label for="single" class="radio-label">
            <span class="radio-button"></span>
            Single trip
        </label>
    </div>

    <div class="radio-item">
        <input type="radio" id="annual" value="multi trip" class="radio-input" name="trip" />
        <label for="annual" class="radio-label">
            <span class="radio-button"></span>
            Annual trip
        </label>
    </div>
</fieldset>