.checkbox {
  &:not(first-child) {
    margin-right: 2.5rem;

    @include respond(xs) {
      margin-right: 0;
    }
  }

  &:not(last-child) {
    margin-bottom: 1rem;
  }

  &-group {
    margin-bottom: 1rem;
  }
  &-item {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  // hide the input box  and put inside the pseudo ::before/after is used (radio-inputs can't be styled without pseudo elements);
  &-input {
    position: absolute;
    z-index: -1;
    width: 2rem;
    height: 2rem;
    opacity: 0;
  }

  &-label {
    position: relative;
    padding-left: 2.5rem;
    font-size: var(--default-font-family)-size;
    cursor: pointer;

    @include respond(xs) {
      display: inline-block;
    }
  }

  // the circle checkbox
  &-button {
    display: inline-block;
    position: absolute;
    top: -0.4rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    transition: $default-transition;
    border: $default-border var(--color-mono-grey-500);

    @include respond(xs) {
      top: 0;
    }
    svg {
      color: transparent;
    }

    // Focus state outline
    &::before {
      top: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
      border: $default-border-lg var(--color-base-xdark);
      border-radius: $default-border-radius;
      opacity: 0;

      @include pseudo;
    }
  }

  // Hover state
  &-input:hover ~ &-label &-button {
    &:before,
    &:after {
      opacity: 1;
    }

    svg {
      color: var(--color-mono-grey-400);
    }

    &:after {
      background-color: var(--color-mono-grey-400);
    }
  }

  // Show the focus state
  &-input:focus ~ &-label &-button {
    &:before,
    &:after {
      opacity: 1;
    }
  }

  // Active state
  &-input:checked ~ &-label &-button {
    background-color: var(--color-primary);

    svg {
      color: $color-white;
    }

    &:after {
      opacity: 1;
    }
  }
}
