.input {
  &-label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-base-xdark, #212121);
    font-size: var(--default-font-family)-size;
    font-weight: bold;
  }

  &-optional {
    font-weight: $light-weight;
  }

  &-helper-text {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-default-font-helper);
  }

  // Input text
  input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border: $default-border var(--color-mono-grey-500);
    border-radius: $default-border-radius;
    background-color: var(--color-brand-snow, $color-white);
    margin-bottom: 1rem;

    &:focus {
      @include default-focus-outline;
    }
  }

  &--one-third {
    width: 33.33%;
  }
}
