.input {
  width: 100%;

  &-label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-base-xdark, #212121);
    font-size: $default-font-size;
    font-weight: bold;
  }

  &-optional {
    font-weight: $light-weight;
  }

  &-helper-text {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-default-font-helper);
  }


  // Input text
  input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border: $default-border var(--color-mono-grey-500);
    border-radius: $default-border-radius;
    background-color: var(--color-brand-snow, $color-white);
    font-size: $default-font-size;

    &:focus {
      @include default-focus-outline;
    }
  }
}
