.grid-container {
  // If the browser doesn’t support CSS Grid, let’s give it flexbox properties.
  display: flex;
  flex-wrap: wrap;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.header {
  flex-basis: 100%;
  @supports (display: grid) {
    grid-column: span 4;
  }
}

.hero {
  flex-basis: 50%;
  background-color: pink;
  @supports (display: grid) {
    grid-column: span 2;
  }
}

.qqc {
  flex-basis: 50%;
  background-color: grey;
  @supports (display: grid) {
    grid-column: span 2;
  }
}

.footer {
  flex-basis: 100%;
  @supports (display: grid) {
    grid-column: span 4;
  }
}
