@font-face {
  font-family: 'Brix Slab';
  src: url('../../assets/fonts/brix-slab-light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Brix Slab';
  src: url('../../assets/fonts/brix-slab-regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Brix Slab';
  src: url('../../assets/fonts/brix-slab-bold.otf');
  font-weight: 700;
}
